section
	padding: 70px 0

h2
	margin: 10px 0 30px 0 !important
	font-size: 30px

.uppercase
	text-transform: uppercase

.display-none
	display: none

.marginleft-5
	margin-left: 5px

.description
	font-weight: 600

div.icon-text-card
	text-align: center
	.icon
		margin: 20px 0
		color: $white
	.text
		font-weight: 600


.page
	color: $black
	font-family: $mainfont
	font-size: 18px
	#hero
		padding: 70px 0
		.try-now
			margin-top: 40px
		.highlight
			font-size: 30px
			font-weight: 700
			color: $accentcolor
			line-height: 1
		.highlight.small
			font-size: 24px
		.title
			font-size: 100px
			font-weight: 600
			line-height: 1
		.subtitle
			font-size: 60px
			line-height: 1
		div.switch
			width: 80px
			height: 40px
			position: relative
			margin: 40px
			div.background
				position: absolute
				width: 80px
				height: 40px
				border-radius: 40px
				background-color: #4bc5b9
			div.toggle
				position: absolute
				width: 32px
				height: 32px
				margin: 4px
				left: 0
				border-radius: 32px
				background-color: $white
				transition: left 0.1s linear
		div.switch.activated
			div.background
				background-color: #4ae6d7
			div.toggle
				left: 40px
		div.description
			float: left
			margin: 10px 0
		div.value
			width: 40px
			float: left
			margin: 10px
		div.instruction
			float: left
			font-size: 14px
		div.button
			padding: 8px 16px
			margin: 5px
			background-color: $accentcolor
			border-radius: 5px
			float: left
			cursor: pointer

.page.device-light-available
	#hero
		.try-now
			margin-top: 20px
		.claim
			margin-top: 40px

section.why-dark-mode
	background-color: $accentcolor

section.easy-integration
	div.text
		margin-top: 10px
	div.screenshot
		img
			width: 80%
			margin: 0 10%

@media (max-width: 991.98px)
	section.easy-integration
		div.text
			margin-top: 0px
		div.screenshot
			img
				margin: 50px 5% 0 5%

@media (max-width: 575.98px)
	section
		padding: 40px 0
	div.icon-text-card
		margin-bottom: 40px
	.page, .page.device-light-available
		#hero
			.claim
				margin-top: 0px
			.try-now
				margin-top: 60px
	section.easy-integration
		div.text
			margin-top: 10px
		div.screenshot
			img
				width: 90%
				margin: 20px 5%
