section {
  padding: 70px 0;
}

h2 {
  margin: 10px 0 30px 0 !important;
  font-size: 30px;
}

.uppercase {
  text-transform: uppercase;
}

.display-none {
  display: none;
}

.marginleft-5 {
  margin-left: 5px;
}

.description {
  font-weight: 600;
}

div.icon-text-card {
  text-align: center;
}
div.icon-text-card .icon {
  margin: 20px 0;
  color: #FAFAFA;
}
div.icon-text-card .text {
  font-weight: 600;
}

.page {
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
.page #hero {
  padding: 70px 0;
}
.page #hero .try-now {
  margin-top: 40px;
}
.page #hero .highlight {
  font-size: 30px;
  font-weight: 700;
  color: #4ae6d7;
  line-height: 1;
}
.page #hero .highlight.small {
  font-size: 24px;
}
.page #hero .title {
  font-size: 100px;
  font-weight: 600;
  line-height: 1;
}
.page #hero .subtitle {
  font-size: 60px;
  line-height: 1;
}
.page #hero div.switch {
  width: 80px;
  height: 40px;
  position: relative;
  margin: 40px;
}
.page #hero div.switch div.background {
  position: absolute;
  width: 80px;
  height: 40px;
  border-radius: 40px;
  background-color: #4bc5b9;
}
.page #hero div.switch div.toggle {
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  left: 0;
  border-radius: 32px;
  background-color: #FAFAFA;
  transition: left 0.1s linear;
}
.page #hero div.switch.activated div.background {
  background-color: #4ae6d7;
}
.page #hero div.switch.activated div.toggle {
  left: 40px;
}
.page #hero div.description {
  float: left;
  margin: 10px 0;
}
.page #hero div.value {
  width: 40px;
  float: left;
  margin: 10px;
}
.page #hero div.instruction {
  float: left;
  font-size: 14px;
}
.page #hero div.button {
  padding: 8px 16px;
  margin: 5px;
  background-color: #4ae6d7;
  border-radius: 5px;
  float: left;
  cursor: pointer;
}

.page.device-light-available #hero .try-now {
  margin-top: 20px;
}
.page.device-light-available #hero .claim {
  margin-top: 40px;
}

section.why-dark-mode {
  background-color: #4ae6d7;
}

section.easy-integration div.text {
  margin-top: 10px;
}
section.easy-integration div.screenshot img {
  width: 80%;
  margin: 0 10%;
}

@media (max-width: 991.98px) {
  section.easy-integration div.text {
    margin-top: 0px;
  }
  section.easy-integration div.screenshot img {
    margin: 50px 5% 0 5%;
  }
}
@media (max-width: 575.98px) {
  section {
    padding: 40px 0;
  }

  div.icon-text-card {
    margin-bottom: 40px;
  }

  .page #hero .claim, .page.device-light-available #hero .claim {
    margin-top: 0px;
  }
  .page #hero .try-now, .page.device-light-available #hero .try-now {
    margin-top: 60px;
  }

  section.easy-integration div.text {
    margin-top: 10px;
  }
  section.easy-integration div.screenshot img {
    width: 90%;
    margin: 20px 5%;
  }
}
.page.dark-mode {
  color: #FAFAFA;
}
.page.dark-mode section, .page.dark-mode #hero {
  background-color: #424242;
}
.page.dark-mode section.why-dark-mode {
  background-color: #212121;
}
.page.dark-mode .icon-text-card .icon {
  color: #4ae6d7;
}

/*# sourceMappingURL=style.css.map */
